<!DOCTYPE html>
<html>
  <head>
    <title>Ninety Nine Cats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
      <h2>Welcome to Ninety Nine Cats, <%= current_user.user_name %></h2>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
      </form>
    <% else %>
      <a href="<%= new_user_url %>">Sign up</a>
      <br>
      <a href="<%= new_session_url %>">Sign in</a>
    <% end %>
    <%= yield %>
  </body>
</html>
