<h1>Create edit a cat</h1>


<form action="<%= cat_url %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label for="name">Name:
        <input type="text" name="cat[name]" value="<%= @cat.name %>">
    </label>
    <br>

    <label for="color">Color:

        <select name="cat[color]" value="<%= @cat.color%>">
            <option value="yellow">Yellow</option>
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="grey">Grey</option>
            <option value="gray">Gray</option>
            <option value="brown">Brown</option>
         </select>
    </label>
    <br>

    <label for="sex">Sex:
        <br>
        <label for="male">Male</label>
        <input type="radio" name="cat[sex]" value="M">
        <br>
         <label for="female">Female</label>
        <input type="radio" name="cat[sex]" value="F">
        <br>
    </label>
    <br>

    <label for="birthdate">Birthdate:
        <input type="date" name="cat[birthdate]" value="<%= @cat.birthdate %>">
    </label>
    <br>

    <label for="description">Description:
        <input type="text" name="cat[description]" value="<%= @cat.description %>">
    </label>
    <br>

    <input type="submit" value="Edit Cat">

</form>