<h1> Showing the best Cat! </h1>

<table style="width:100%"> 
    <tr>
        <th>Cat Name</th>
        <th>Cat Color</th>
        <th>Cat Sex</th>
        <th>Cat Birth Date</th>
        <th>Cat Des</th>
    </tr>
    
    <tr>
        <td><%= @cat.name %></td>
        <td><%= @cat.color %></td>
        <td><%= @cat.sex %></td>
        <td><%= @cat.birthdate %></td>
        <td><%= @cat.description %></td>
    </tr>

</table>